.subtitulo1{
    @extend %estilos-subtitulos;
}
.container{
    @include container (100vw, 800px, 320px);
}
.img{
    display: grid;
    @include imagenes (1fr 1fr, 1fr 1fr, 15px);
    @include padding (2%);
}
.numero{
    @include margin-padding (auto, 5px 10px);
    @include font-size (100%);
    text-align: center;
}
.img2{
    @include margin (auto);
    @include medidas-ancho (90%);
    @include bordes-radio (25px);
    text-align: center;
}